<% unless logged_in? %>
<div class="alert alert-danger" role="alert">Logar com a minha conta do <a href="<%= login_url %>">Google</a></div>
<% end %>

<% if logged_in? %>
  <div class="alert alert-primary">Oi <%= current_user.name %>.</div>
  <% if current_user.master? %>
    <div class="alert alert-success">Você é administrador deste sistema.</div>
  <% end %>

  <% unless current_user.enabled?  %>
    <div class="alert alert-warning">Sua conta ainda não está abilitada. Peça para o seu administrador habilida-la para você.</div>
  <% end %>
<% end %>
