Yep. Under construction.

<% unless logged_in? %>
  <a href="<%= login_url %>">Login with google</a>
<% end %>

<% if logged_in? %>
  <p> Hello <%= current_user.name %>
  <% if current_user.master? %>
    <p>Você é administrador deste sistema</p>
  <% end %>

  <% unless current_user.enabled?  %>
    <p>Sua conta ainda precisa ser autorizada pelo administrador.</p>
  <% end %>

  <a href="<%= logout_url %>">Logout</a>
<% end %>
