<span class="call-options">
  <% if building.letter? %>
    <i class="far fa-envelope"></i>
  <% end %>
  <% if building.intercom? %>
    <i class="far fa-building"></i>
  <% end %>
  <% if building.phone? %>
    <i class="fa fa-phone"></i>
  <% end %>
</span>
