<% if current_user.master? %>
  <div class="datetime-picker">
    <div class="input-group date" id="datepicker-<%= id %>" data-target-input="nearest">
      <input type="text" data-target="contact-attempt.time" class="form-control datetimepicker-input" data-target="#datepicker-<%= id %>"/>
      <div class="input-group-append" data-target="#datepicker-<%= id %>" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <small>Deixe em branco para data e hora atual</small>
<% else %>
  <input type="hidden" data-target="contact-attempt.time" class="form-control datetimepicker-input" data-target="#datepicker-<%= id %>"/>
<% end %>
