<div class="input-group date" id="datepicker-<%= id %>" data-target-input="nearest">
  <input type="text" data-target="contact-attempt.time" class="form-control datetimepicker-input" data-target="#datepicker-<%= id %>"/>
  <div class="input-group-append" data-target="#datepicker-<%= id %>" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
  </div>
</div>
