<% if apartment.contact_attempts.any? %>
  <div data-controller="dialog" class="float-left">
    <a href="#" class="btn btn-light float-right contact-attempt-button" data-action="dialog#open">
      <i class="fa fa-info"></i>
    </a>
    <div class="dialog-frame" data-target="dialog.container" style="display:none">
      <div class="container">
        <div class="title-bar float-right">
          <i class="far fa-times-circle" data-action="click->dialog#close"></i>
        </div>
        <div class="centered">
          <div class="history">
            <h3>Histórico</h3>
            <% apartment.contact_attempts.reverse.each do |attempt|  %>
              <div>
                <%= format_time(attempt.time) %>
                <% if attempt.successful? %>
                  <i class="checked-on fa fa-check"></i>
                <% else %>
                  <i class="checked-off fa fa-times"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
