<nav>
  <ul class="pagination">
    <% if previous_page? %>
      <li class="page-item"><a class="page-link" href="<%= routes.audits_url(page: previous_page) %>">Anterior</a></li>
    <% end %>
    <li class="page-item"><a class="page-link" href="<%= routes.audits_url(page: next_page) %>">Próxima</a></li>
  </ul>
</nav>

