<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script type="application/javascript">
      var MapData = {
        buildings: <%= JSON.dump(buildings) %>
    }
    </script>
  </head>
  <body>
    <h1>Sup</h1>
  </body>
</html>

