<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <script type="text/javascript">
      var MapData = {
        buildings: <%= JSON.dump(buildings) %>
    }
    </script>
    <style type="text/css" media="screen">
      #map {
        min-height: 600px;
        height: 100%;
        width: 100%;
      }
    </style>
    <%= javascript 'maps' %>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.to_h.fetch('GOOGLE_MAPS_STATIC_API_KEY') %>&callback=initMap" async defer></script>
  </body>
</html>

