<!doctype html>
<html lang="pt">
  <head>
    <title>Prédios</title>
    <%= favicon %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= javascript 'buildings.app.d2e579e0', defer: true %>
  </head>
  <body class="<%= routes.buildings_url.to_s.match('staging') ? 'staging' : '' %> <%= routes.buildings_url.to_s.match('localhost') ? 'staging' : '' %>">
    <div id="react-app">
      Oops, algo deu errado
    </div>
  </body>
</html>

