// light blue #baccde
// orange #eab48a
// logo blue #5478b0

#before-container
  width: 100%
  height: 10px
  display: block

.submit-link
  float: left
  margin-left: 5px

.staging
  #top-menu
    background: gray
    background-color: #eab48a !important

.development
  .env-indicator
    background-color: #baccde !important

.turbolinks-progress-bar
  height: 5px
  background-color: #5478b0
